<form [formGroup]="loginForm" (ngSubmit)="login()">

  <mat-form-field>
    <input matInput placeholder="E-mail" formControlName="email" required type="email">
    <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" formControlName="password" required type="password">
    <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
  </mat-form-field>

  <button mat-flat-button color="warn" type="submit" [disabled]="!loginForm.valid">Submit</button>
</form>






